#game {
  margin-right: 33%;
  margin-left: 30%;
  background-color: lightblue;
  border-radius: 15px;
  background: #00aad4;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 31px 0px #1f788f;
  -moz-box-shadow: 0px 0px 31px 0px #1f788f;
  box-shadow: 0px 0px 31px 0px #1f788f;
  width: 40%;
}
table {
  min-width: 90%;
  margin: 0 auto;
  border: none;
  border-collapse: collapse;
  cursor: pointer;
}
table td,
table th {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16.66%;
  position: relative;
}

td:after,
th:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content,
th .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

td.gameRow {
  background-image: url("../img/empty.jpg") !important;
}
.WinnerfichaRoja {
  background-image: url("../img/winnerRoja.gif");
}

.WinnerfichaVerde {
  background-image: url("../img/winnerVerde.gif");
}

.fichaRoja {
  background-image: url("../img/fichaRoja.jpg");
}

.fichaVerde {
  background-image: url("../img/fichaVerde.jpg") !important;
}

.singlefichaRoja {
  background-image: url("../img/singleFichaRoja.png");
}

.singlefichaVerde {
  background-image: url("../img/singleFichaVerde.png") !important;
}

td.gameRow {
  background-image: url("../img/empty.jpg") !important;
}
#currentPlayerName {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}