@media only screen and (max-width: 700px) {
    #game {
        margin: auto 10em;
        width: 40%;
    }

    .modal-content {
        width: 90% !important;
    }

    nav#scores {
        width: 50%;
        overflow: hidden;
        overflow-x: scroll;
        box-sizing: border-box;
        z-index: 1;
        height: 100% !important;
    }

    nav.lateral ul {
        width: 100%;
        margin: 0;
        margin-top: 50%;
        overflow: hidden;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    nav.lateral {
        margin-bottom: 100px;
    }

   /* .botonLateral span{
        display: none;
        width: 10%;
    }
*/
nav.lateral ul li:first-child {

    margin-bottom: 0;
    padding-bottom: 0;
}
nav.lateral ul li {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
}
.card .container h4{
    margin: 5px;
}
nav.lateral li.bottom,nav.lateral li.bottom3 ,nav.lateral li.bottom2 {
    position: initial;
 
}
 
    img.profilePicture {
        max-width: 100px;
    }

    .topTitle {
        display: none;
        font-size: 2em;
    }
    .superior i {
        font-size: 1.4em;
    }
}



 

@media only screen and (max-width: 480px) {

    #game {
        margin: auto 4em;
        width: 70%;
    }
    nav#scores {
       width: 100%;
    }

    nav.lateral ul {
        margin-top: 80%;
    }
}

 