
#scoreList li img {
    max-height: 70px;
    border-radius: 50%;
    margin: 5px;
  }
  
  #scoreList li {
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    
  }
  
  #scoreList li {
    margin-top: 5px;
  
  }
  
  #scoreList {
    list-style-type: none;
    padding-left: 0;
    margin-left: 5px;
    text-align: center;
  }
  .lateralDerecha h2{
    color: white;
    text-align: center;
  
  }
  break{
    flex-basis: 8%;
  
  }

#scores h2 i {
  color: goldenrod;
 
}
#scoreList li:first-child {
  -webkit-box-shadow: 0px 0px 13px 0px gold;
  -moz-box-shadow: 0px 0px 13px 0px gold;
  box-shadow: 0px 0px 13px 0px gold;
margin-bottom: 25px;
}
nav#scores{
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  position: fixed;

  right: 0;
  margin: 0;
  margin-top: -36px;
background-color: var(--scoreBar-bgc);

}
.scoreImg {
  border: 3px solid;
  border-color: #10728a;
}